{% extends 'base.html.twig' %}

{% block title %}Primavera
{% endblock %}

{% block body %}

<h1 class="text-3xl font-bold underline bg-red-100">
    Hello world!
  </h1>
	<div class="mainhome">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<p>Bonjour, 
				{{ app.user.email }} !</p>
		{% endif %}
	</div>
	<div {{ react_component('Hello', { 'fullName': app.user.email }) }}>
        Chargement... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
